
.AppleDouble
.build/
.DS_Store
.LSOverride
.swiftpm/
*.log
*.moved-aside
*.xccheckout
*.xcresult
*.xcresult/
*.xcscmblueprint
*.xcuserdata/
*.xcuserstate
# CocoaPods
# Logs and local artifacts
# Swift Package Manager
# Xcode
build/
DerivedData/
mac-build.log
Pods/
